@model IEnumerable<ITMatcherWeb.Models.User>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="~/Content/profilePageSheet.css" rel="stylesheet" />
</head>
<body>

    @{string currentUserId = ViewBag.CurrentUserId; }
    @{string CurrentUserName = ViewBag.CurrentUserName; }


    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!--<li><a href="LogInbtn" data-toggle="modal" data-target="#myModal">log in</a></li>-->
                <li><a href="">Profile</a></li>
                <li>
                    @Html.ActionLink("Job experience", "ProfileJobIndex", "JobExperiences", new { @class = "elements" }, null)
                </li>
                <li>
                    @Html.ActionLink("Change password", "ChangePassword", "Manage", new { @class = "elements" }, null)
                </li>
                <li>
                    @Html.ActionLink("Profile details", "Edit", "Users", new { @id = currentUserId }, null)
                </li>
                <li>
                    @Html.ActionLink("Delete profile", "Delete", "Users", new { @id = currentUserId }, null)
                </li>

                <li><a href="#">Userroles</a></li>

                <li>@Html.ActionLink("Consultant list", "Index", "Users")</li>

                <li>@Html.ActionLink("Environmentslist", "Index", "Environments")</li>

                <li>@Html.ActionLink("Subjectslist", "Index", "Subjects")</li>




            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-success" id="menu-toggle">Menu</a>
                        <div>
                            <h1>Profile</h1>
                            <hr />

                            <h3>Ealier jobs</h3>
                            <hr />
                            @if (Model.Any())
                            {
                                foreach (var i in Model)
                                {
                                    if (i.JobExperiences.Any() == false)
                                    {
                                        <p>No job experiences currently added - add jobexp. through "Job experiences" in menu </p>
                                    }
                                    else
                                    {
                                        foreach (var j in i.JobExperiences)
                                        {
                                            <dl>
                                                <dt>
                                                    @j.Employer: period: @j.DateOfEmployment - @j.DateOfExit
                                                </dt>
                                                <dt>
                                                    Titles

                                                </dt>
                                                @if (j.Titles.Any() == false)
                                                {
                                                    <dd>No titles added - Add title through "Job Experiences" in menu, then add title</dd>
                                                }
                                                else
                                                {
                                                    foreach (var t in j.Titles)
                                                    {
                                                        <dd>@t.TitleName</dd>
                                                    }
                                                }
                                                <dt>
                                                    Subjects
                                                </dt>
                                                @if (j.Subjects.Any() == false)
                                                {
                                                    <dd>No subjects added - Add subject through "Job Experiences" in menu, then add subject</dd>
                                                }
                                                else
                                                {
                                                    foreach (var s in j.Subjects)
                                                    {
                                                        <dd>@s.Name</dd>
                                                    }
                                                }
                                                <dt>
                                                    Environments
                                                </dt>
                                                @if (j.Environments.Any() == false)
                                                {
                                                    <dd>No environments added - Add environment through "Job Experiences" in menu, then add environment</dd>
                                                }
                                                else
                                                {
                                                    foreach (var e in j.Environments)
                                                    {
                                                        <dd>@e.EnvironmentName</dd>
                                                    }
                                                }
                                            </dl><hr />
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu toggle script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>

</body>
</html>