@model ITMatcherWeb.Models.JobExperience

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobExperienceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
