@model ITMatcherWeb.Models.JobExperience
@using ITMatcherWeb.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobExperience</h4>
    <hr />
    @{var subjectList = new List<Subject>();}
    @{var list = Model.Subjects.ToList();
        foreach (var sub in list) {
            if (sub.JobExperienceId == Model.JobExperienceId) {
                subjectList.Add(sub);
            }
        }
     }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExit)
        </dd>

        <dt>
            Subjects
        </dt>

        @foreach (var sub in subjectList)
        {
        <dd>
            @sub.Name
        </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobExperienceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
