@model IEnumerable<ITMatcherWeb.Models.JobExperience>

@{
    ViewBag.Title = "Job experiences";
}

<h2>
    Job experiences
</h2>

<p>
    <!--Html.ActionLink("Create New", "Create")-->
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr bgcolor="#787878">
        <th>
            @Html.DisplayNameFor(model => model.Employer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEmployment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfExit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEmployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobExperienceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobExperienceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobExperienceId })|
                @Html.ActionLink("Add subject", "../Subjects/SubjectList", new { id = item.JobExperienceId })|
                @Html.ActionLink("Add titles", "../Titles/TitlesList", new { id = item.JobExperienceId })

            </td>
        </tr>
    }

</table>
